<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List with HTMX</title>
    <style>
        table, th, td {
            border: 1px solid;
        }
        .delete {
            color: red;
        }
    </style>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"
            integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
            crossorigin="anonymous">
    </script>
</head>
<body>
    <h1>TODO List with HTMX</h1>

    <table id="todo-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Item</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </thead>

        <!-- existing table contents -->
        {% for row in todo_list %}
            <tr class="item-row" id="current-row">
                <td>{{ row['id'] }}</td>
                <td>{{ row['item'] }}</td>
                <td>{{ row['due_date'] }}</td>
                <td class="delete">
                    <button hx-post="/row/{{ row['id'] }}/delete" hx-target="#current-row" hx-swap="outerHTML">
                        Delete <i class="fa-solid fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}

        <!-- new table row -->
        <tr id="replace-me"></tr>
        <tr class="new-row">
            <td colspan="4">
                <button hx-post="/row/new" hx-target="#replace-me" hx-swap="afterend">
                    Add TODO row..
                </button>
            </td>
        </tr>
    </table>
</body>
</html>